#root{
    position: absolute;
    padding: 0;
    border: 0;
    width: 50%;
    height: 500px;
    z-index: -1;
}

#root>canvas{
    z-index: -1;
}

#react{
    position: relative;
    z-index: 3;
}