body {
    background: #924DE0;
    justify-content: center;
    text-align: left;
    display: grid;
}

.son {
    color: #DEBC92;
    font-family: Arial;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: -1px;
}

p {
    margin: 0;
    height: 35px;
    line-height: 35px;
    transition: all 0.5s ease-in-out;
    text-align: left;
}

.son {
    height: 35px;
    overflow: hidden;
    position: relative;
    top: 100px;
}

.son:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
}

.son:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.333);
}

.son:hover p {
    transform: translate(0, -35px);
}


.dad {
    position: absolute;
    top: 50px;
    left: 100px;
}

.dad:hover p {
    transform: translate(0, -35px);
}

p {
    transition: all 0.5s ease-in-out;
}